
    <div class="main-wrapper" ng-controller="storeController">
        <div class="main-content">
            <div id="search-products" class="col-lg-12">
                <input placeholder="coolest search ever..." id="product-search" type="text" ng-model="search.$">
            </div>
            <div class="search-options col-lg-12">
                <span class="col-lg-6">{{totalItems}} SEARCH RESULTS FOR ""</span>
                <span class="col-lg-3"></span>
                <span class="col-lg-3 right-align">
                    <span>SHOW</span>
                    <select ng-model="numPerPage" ng-options="opt as opt for opt in options"></select>
                    <span>PER PAGE</span>
                </span>
            </div>
            <ul id="products">
                <div class="product-wrapper xl-grid-4 lg-grid-3 md-grid-2 sm-grid-1" ng-repeat="product in filteredProducts | filter:search | limitTo:numPerPage">
                    <li class="single-product {{featured}}" data-toggle="modal" data-target="#productModal">
                        <div class="buttons">
                            <div class="btn-group">
                                <button type="button" class="btn add dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    + add <span class="caret"></span>
                                </button>
                                <ul role="menu">
                                    <li><a href="#" ng-click="addItem()">Add to cart</a></li>
                                    <li><a href="#">Be notified when available</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-thumbnail" style="background-image: url({{product.imgURL}});"></div>
                        <div class="product-content">
                            <h3 class="product-heading">{{product.title}}</h3>
                            <p class="product-description">{{product.description}}</p>
                            <div class="share">
                                <a href="" class="facebook"></a>
                                <a href="" class="twitter"></a>
                            </div>
                        </div>
                        <div class="price">
                            <span class="old-price">${{product.price}}</span>
                            <span class="oi" data-glyph="{{product.stamp}}"></span>
                            <span class="discount">${{product.discount}}</span>
                        </div>
                        <div ng-if="product.featured == true" class="stamp"><span class="oi" data-glyph="star"></span></div>
                    </li>
                </div><!-- end product-wrapper -->
            </ul>
            <div id="product-pagination">
                <pagination items-per-page="numPerPage" boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
            </div><!-- end product-pagination -->
            <!--<div>
                <pagination items-per-page="numPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
            </div>-->
        </div>
    </div>
