.billing-form {
  /* display: inline-block; */
  padding: 100px 50px;
}

#main .billing-form .form-wrapper {
  background: #fff;
  padding: 50px;
  display: block;
  text-align: center;
  max-width: 1024px;
  margin: auto;
  border-radius: 3px;
  border: 1px solid #E5DEDE;
}

#main .billing-form .form-wrapper .left {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

#main .billing-form .form-wrapper .right {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

#main .billing-form .form-wrapper .divider {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 10%;
  height: 500px;
}

#main .billing-form .form-wrapper h3.heading {
  margin: 10px 0;
  font-size: 24px;
  color: #676767;
  line-height: 27px;
}

#main .billing-form .form-wrapper form input {
  width: 90%;
  height: 55px;
  border: 1px solid #D0D0D0;
  margin: 20px auto;
  padding: 0 15px;
}

#main .billing-form .form-wrapper form button[type="submit"] {
  height: 55px;
  margin: 30px auto;
  width: 90%;
  border: none;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
}

#main .billing-form .form-wrapper form#create-account button[type="submit"] {
  background: #4aa667;
}

#main .billing-form .form-wrapper form#login button[type="submit"] {
  background: #e6c85c;
}

#main .billing-form .form-wrapper .divider span {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  line-height: 27px;
  margin: 10px auto;
  display: block;
}

#main .billing-form .form-wrapper .divider line {}

#main .billing-form .form-wrapper .divider .line {
  height: 450px;
  width: 2px;
  background: #DFDFDF;
  margin: auto;
}

#main .billing-form .form-wrapper form {
  padding-top: 10px;
}

@media screen and (max-width: 1200px) {
  #main .billing-form .form-wrapper {
    padding: 50px 5%;
  }
  #main .billing-form .form-wrapper .left,
  #main .billing-form .form-wrapper .right {
    width: 45%;
  }
  #main .billing-form .form-wrapper .divider {
    width: 7%;
  }
  #main .billing-form .form-wrapper h3.heading {
    font-size: 21px;
  }
}

@media screen and (max-width: 1025px) {
  #main .billing-form .form-wrapper .left,
  #main .billing-form .form-wrapper .right {
    width: 100%;
    display: block;
    max-width: 500px;
    margin: auto;
  }

  #main .billing-form .form-wrapper .divider .line {
    display: none;
  }
  #main .billing-form .form-wrapper .divider {
    height: auto;
    padding: 25px 0;
  }
  #main .billing-form {
    padding: 0;
  }
}