.review-form {
    /* display: inline-block; */
    padding: 20px 50px;
}

#main .review-form form div#payment.form-wrapper{
    margin-top: 2.5% !important;
    background: #fff;
    padding: 30px;
    display: block;
    text-align: center;
    max-width: 1024px;
    border-radius: 3px;
    border: 1px solid #E5DEDE;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #6f6f6f;
}

#main .review-form .form-wrapper {
    background: #fff;
    padding: 30px;
    display: block;
    text-align: center;
    max-width: 1024px;
    margin: auto;
    border-radius: 3px;
    border: 1px solid #E5DEDE;
}

#main .review-form .form-wrapper .left {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#main .review-form .form-wrapper .right {
    width: 24.9%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#main .review-form .form-wrapper .divider {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 10%;
    height: 500px;
}

#main .review-form .form-wrapper h3.labels {
    font-size: 15px;
    font-family: "italic", sans-serif;
    font-weight: lighter;
    color: rgb(110, 110, 110);
    line-height: 1.481;
    text-align: center

}

#main .review-form h2.title {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: rgb(47, 47, 47);
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 30px;
    display: block;
    text-align: center;
    max-width: 1024px;
    margin: auto;
}

#main .review-form input  {
    width: 90%;
    height: 55px;
    border: 1px solid #D0D0D0;
    margin: 30px 0;
    padding: 0 15px;
    display: block;
}

#main .review-form  select {
    height: 55px;
    border: #dfdfdf;
    -webkit-appearance: none;
    -moz-appearance : none;
    background: #dfdfdf url('../assets/img/arrow.png') no-repeat calc(100% - 10px);
    padding: 0 15px;
    margin: 30px 0;
    display:block;
    width:90%
}



#main .review-form form button[type="submit"] {
    height: 55px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    width: 90%;
    border: none;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    display:block;
    background-color: #225c72;

}

#main .review-form .left2 .right2 select input {
    display: block;
}

.left2 input#cardname {
    width:100%;
}

#main .review-form .form-wrapper form#create-account button[type="submit"] {
    background: #4aa667;
}

#main .review-form .form-wrapper form#login button[type="submit"] {
    background: #e6c85c;
}

#main .review-form .form-wrapper .divider span {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    line-height: 27px;
    margin: 10px auto;
    display: block;
}

#main .review-form .form-wrapper .divider line {}

#main .review-form .form-wrapper .divider .line {
    height: 450px;
    width: 2px;
    background: #DFDFDF;
    margin: auto;
}

#main .review-form .form-wrapper form {
    padding-top: 10px;
}

@media screen and (max-width: 1200px) {
    #main .review-form .form-wrapper {
        padding: 50px 5%;
    }
    #main .review-form .form-wrapper .left,
    #main .review-form .form-wrapper .right {
        width: 45%;
    }
    #main .review-form .form-wrapper .divider {
        width: 7%;
    }
    #main .review-form .form-wrapper h3.heading {
        font-size: 21px;
    }
}

@media screen and (max-width: 1025px) {
    #main .review-form .form-wrapper .left,
    #main .review-form .form-wrapper .right {
        width: 100%;
        display: block;
        max-width: 500px;
        margin: auto;
    }

    #main .review-form .form-wrapper .divider .line {
        display: none;
    }
    #main .review-form .form-wrapper .divider {
        height: auto;
        padding: 25px 0;
    }
    #main .review-form {
        padding: 0;
    }
}
