
    <div class="main-wrapper" ng-controller="reviewController">
        <div class="main-content">
            <div class="main-heading">
            </div>
            <!-- end main-heading -->
            <div class="review-form">
                <h2 class="title">REVIEW YOUR CART</h2>

                <form id="review">
                    <div class="form-wrapper">
                        <div class="review-labels">
                            <h3 class="labels offer" id="l1">Offer</h3>
                            <h3 class="labels qty" id="l2">Qty</h3>
                            <h3 class="labels subtotal" id="l3">Subtotal</h3>
                        </div>
                        <div class="contents">
                            <div class="item">
                                <div class="offer">
                                    <h2 class="leftTitle">American craft kitchen offering modern cuisine</h2>
                                </div>
                                <div class="qty">
                                    <i class="glyphicon-minus glyphicon"></i>
                                    <span class="amount">3</span>
                                    <i class="glyphicon-plus glyphicon"></i>
                                </div>
                                <div class="subtotal">
                                    <span>$50.00</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="offer">
                                    <h2 class="leftTitle">American craft kitchen offering modern cuisine</h2>
                                </div>
                                <div class="qty">
                                    <i class="glyphicon-minus glyphicon"></i>
                                    <span class="amount">3</span>
                                    <i class="glyphicon-plus glyphicon"></i>
                                </div>
                                <div class="subtotal">
                                    <span>$50.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="shipping">
                            <h4 class="heading">Shipping and handling</h4>
                            <div class="offer">
                                <div class="edit">
                                    <p class="name">Drew Andersen</p>
                                    <p class="street">540 E. 500 S.</p>
                                    <p class="address">Salt Lake City, UT 84102</p>
                                </div>
                            </div>
                            <div class="qty">
                                <h4>- 2 day shipping</h4>
                            </div>
                            <div class="subtotal">
                                <span>$50.00</span>
                            </div>
                        </div>
                        <div class="place-order">
                            <div class="offer">
                                <div class="navbar-form" id="discount-code" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter discount code">
                                    </div>
                                    <button type="submit" class="btn btn-sample sharp">Apply</button>
                                </div>
                                <div class="navbar-form" id="credits" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="enter credits">
                                    </div>
                                    <button type="submit" class="btn btn-sample sharp">Apply</button>
                                </div>
                            </div>
                            <div class="qty right">
                                <p>You Save</p>
                                <h2>Subtotal</h2>
                            </div>
                            <div class="subtotal right">
                                <p>$1.25</p>
                                <h2 class="green-message">$43.05</h2>
                            </div>
                        </div>
                        <button type="submit" name="submit">Save & Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- main-wrapper -->
