<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>City Weekly</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="review/reviewStyles.css">
    <link rel="stylesheet" type="text/css" href="confirm/confirm.css">

    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.min.js"></script>
    <script src="app.js"></script>
    <script src="billing/billing.js"></script>
    <script src="login/login.js"></script>
    <script src="store/store.js"></script>
    <script src="review/review.js"></script>
    <script src="confirm/confirm.js"></script>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <base href="/">
</head>

<body ng-app="CityWeekly">

<cw-header></cw-header>

<cw-sidebar></cw-sidebar>

<div class="sidebar-{{sidebarStatus}}" id="main">
<ng-view></ng-view>
</div>

<cw-footer></cw-footer>

<cw-modal></cw-modal>

</body>
</html>
