<div class="main-wrapper" ng-controller="storeController">
    <div class="main-content">
        <div id="order-confirmation">
            <span class="glyphicon glyphicon-ok-circle"></span>
            <h3>THANK YOU!</h3>
        </div>
    </div>
</div>