.bx-wrap {
    width: 100%;
    margin: auto;
    background: #fff;
    max-width: 768px;
    padding: 75px 50px;
    text-align: center;
}

div#confirmation-message span.glyphicon {
    font-size: 100px;
    font-weight: 300;
    color: #4aa667;
}

div#confirmation-message .green-message {
    color: #4aa667;
    margin-bottom: 50px;
}

#footer-top ul li {
    margin: 10px 0 0;
    display: inline-block;
    font-size: 18px !important;
}

footer#footer-bottom ul li {
    padding: 5px 0;
    margin: 5px 0;
}

footer#footer-bottom {
    padding: 50px 0;
}

div#product-pagination {
    text-align: center;
}

#main .review-form .form-wrapper h3#l1 {
    float: left;
    width: 60%;
    text-align: left;
}

#main .review-form .form-wrapper h3#l2 {
    float: left;
    margin-right: 0;
    width: 25%;
    text-align: center;
}

#main .review-form .form-wrapper h3#l3 {
    float: left;
    width: 15%;
    text-align: center;
}

#review .shipping .offer {
    width: 60%;
    text-align: left;
    float: left;
}

#review .qty {
    width: 25%;
    float: left;
    text-align: center;
}

#review .subtotal {
    width: 15%;
    float: left;
    text-align: center;
}

form#review .form-wrapper .contents,form#review .form-wrapper .review-labels {
    display: inline-block;
    width: 100%;
}

#review .qty i.glyphicon {
    display: inline-block;
    margin: 0 15px;
    color: rgba(74, 166, 103, 0.56);
    font-weight: 300;
    line-height: 40px;
}

#review .qty span.amount {
    font-size: 16px;
    line-height: 40px;
    display: inline-block;
}

#review .offer h2 {
    margin: 0;
    line-height: 40px;
    text-align: left;
    font-size: 18px;
}

#review .subtotal span {
    line-height: 40px;
}

form#review .form-wrapper .contents .item, form#review .form-wrapper .shipping,form#review .form-wrapper .place-order {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
}

.place-order {
    display: inline-block;
    width: 100%;
    text-align: left;
}

form#review .form-wrapper .shipping > h2 {
    padding: 0;
    font-size: 18px;
    font-weight: bold;
}

form#review .form-wrapper .place-order {
    width: 100%;
    display: inline-block;
}

#main #review .subtotal.right {
    width: 20%;
    text-align: right;
    margin-top: 50px;
    color: #4aa667;
}

#main .review-form .form-wrapper .qty.right {
    width: 25%;
    text-align: right;
    margin-top: 50px;
}

#review .offer form#credits {}

#review .offer div.navbar-form {
    display: inline-block;
    width: 100%;
    padding: 0;
}

#review .offer div.navbar-form div.form-group input {
    margin: 0 !important;
    float: left;
    width: auto;
}

#review .offer div.navbar-form div.form-group {
    float: left;
}

#review .offer div.navbar-form button {
    float: left;
    margin: 0;
    width: 100px;
}
form#review .form-wrapper .shipping h4 {
    text-align: center;
}

form#review .form-wrapper .shipping .qty,form#review .form-wrapper .shipping .subtotal {
    padding-top: 25px;
}

form#review .form-wrapper .contents .item .offer {
    width: 60%;
    float: left;
}

#review .place-order .offer {
    float: left;
    width: 50%;
}

form#review .form-wrapper .shipping h4.heading {
    text-align: left;
}

#main .billing-form form button[type="submit"] {
    max-width: 600px;
}