<div class="main-wrapper" ng-controller="confirmationController">
    <div class="main-content">
        <div class="bx-wrap" id="confirmation-message">
            <span class="glyphicon glyphicon-ok-circle"></span>
            <h1>THANK YOU!</h1>
            <h3 class="green-message">Your order has been placed successfully!</h3>
            <p>
                <a href="/shop" class="btn btn-primary btn-lg active" role="button">KEEP SHOPPING</a>
            </p>
        </div>
    </div>
</div>