<div class="main-wrapper" ng-controller="loginController">
        <div class="main-heading">
        </div>
        <!-- end main-heading -->
        <div class="billing-form">
            <div class="form-wrapper">
                <div class="left">
                    <h3 class="heading">Log into an existing account</h3>
                    <form id="login">
                        <input type="text" name="email" placeholder="Email address">
                        <input type="text" name="password" placeholder="Password">
                        <button type="submit" name="submit">Log in</button>
                    </form>
                </div><!-- end left -->
                <div class="divider">
                    <span>or</span>
                    <div class="line"></div>
                </div>
                <div class="right">
                    <h3 class="heading">Create an account for free</h3>
                    <form id="create-account">
                        <input type="text" name="first_name" placeholder="First name">
                        <input type="text" name="last_name" placeholder="Last name">
                        <input type="text" name="create_password" placeholder="Create password">
                        <input type="text" name="confirm_password" placeholder="Confirm password">
                        <button type="submit" name="submit">Create Account</button>
                    </form>
                </div><!-- end right -->
            </div>
        </div>
    </div>

