
    <div class="main-wrapper" ng-controller="billingController">
        <div class="main-heading">
        </div>
        <!-- end main-heading -->
        <div class="billing-form">
            <h2 class="title">ENTER YOUR BILLING INFORMATION</h2>

            <form id="billing">
                <div class="form-wrapper">
                    <h3 class="heading">Billing Address</h3>

                    <div class="left">
                        <input type="text" name="address1" placeholder="Address 1">
                        <input type="text" name="address2" placeholder="Address 2">
                        <input type="text" name="city" placeholder="City">
                    </div>
                    <div class="right">
                        <select id="state" name="state" class="billingDropdown">
                            <option>State</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                        <input type="text" name="zip" placeholder="Postal/zip code">
                    </div>
                </div>
                <div id="payment" class="form-wrapper">
                    <h3 class="heading">Payment Information</h3>

                    <div class="left">
                        <input id="cardname" type="text" name="cardholder" placeholder="Name on card">
                        <select class="billingDropdown" name='expireMM' id='expireMM'>
                            <option value=''>Expiration Month</option>
                            <option value='01'>Janaury</option>
                            <option value='02'>February</option>
                            <option value='03'>March</option>
                            <option value='04'>April</option>
                            <option value='05'>May</option>
                            <option value='06'>June</option>
                            <option value='07'>July</option>
                            <option value='08'>August</option>
                            <option value='09'>September</option>
                            <option value='10'>October</option>
                            <option value='11'>November</option>
                            <option value='12'>December</option>
                        </select>
                        <select name="expireYY" id="expireYY" class="billingDropdown">
                            <option value=''>Expiration Year</option>
                            <option value='15'>2010</option>
                            <option value='16'>2011</option>
                            <option value='17'>2012</option>
                            <option value='18'>2012</option>
                        </select>
                    </div>
                    <div class="right">
                        <input id="cardnum" type="text" name="cardNum" placeholder="Card #">
                        <input id="cvv" type="text" name="cvv" placeholder="CVV">
                    </div>
                </div>
                <button type="submit" name="submit"> Save & Continue</button>
            </form>
        </div>
    </div>

