body {
    margin: 0;
    min-width: 1176px;
}

#title {
    float: left;
    position: relative;
    width: 450px;
    margin-top: 146px;
    margin-left: 362px;
    z-index: 26;
    min-height: 39px;
}

#container {
    float: left;
    position: relative;
    width: 794px;
    height: 520px;
    margin-top: 35px;
    margin-left: 190px;
    z-index: 2;
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 rgba(201,201,201,1);
    clear: left;
}

#logpass {
    float: left;
    position: relative;
    width: 247px;
    height: 45px;
    margin-top: 183px;
    margin-left: -734px;
    z-index: 18;
    background-color: #fff;
}

#loginbutton {
    float: left;
    position: relative;
    width: 247px;
    height: 45px;
    margin-top: 256px;
    margin-left: -734px;
    z-index: 16;
    background-color: #e6c85c;
}

#logemail {
    float: left;
    position: relative;
    width: 247px;
    height: 45px;
    margin-top: 110px;
    margin-left: -733px;
    z-index: 20;
    background-color: #fff;
}

#logintext {
    float: left;
    position: relative;
    width: 229px;
    margin-top: 75px;
    margin-left: -733px;
    z-index: 23;
    min-height: 26px;
}

#logemailtxt {
    float: left;
    position: relative;
    width: 109px;
    margin-top: 126px;
    margin-left: -724px;
    z-index: 21;
    min-height: 25px;
}

#logpasstxt {
    float: left;
    position: relative;
    width: 82px;
    margin-top: 199px;
    margin-left: -723px;
    z-index: 19;
    min-height: 25px;
}

#helptxt {
    float: left;
    position: relative;
    width: 139px;
    margin-top: 320px;
    margin-left: -679px;
    z-index: 15;
    min-height: 19px;
}

#loginbuttontxt {
    float: left;
    position: relative;
    width: 59px;
    margin-top: 268px;
    margin-left: -640px;
    z-index: 17;
    min-height: 25px;
}

#or {
    float: left;
    position: relative;
    width: 43px;
    margin-top: 75px;
    margin-left: -408px;
    z-index: 24;
    min-height: 26px;
}

#divider {
    float: left;
    position: relative;
    width: 2px;
    height: 425px;
    margin-top: 110px;
    margin-left: -396px;
    z-index: 22;
    background-color: #e0e0e0;
}

#regpass {
    float: left;
    position: relative;
    width: 247px;
    height: 45px;
    margin-top: 256px;
    margin-left: -311px;
    z-index: 9;
    background-color: #fff;
}

#reglast {
    float: left;
    position: relative;
    width: 247px;
    height: 45px;
    margin-top: 183px;
    margin-left: -311px;
    z-index: 11;
    background-color: #fff;
}

#regpass2 {
    float: left;
    position: relative;
    width: 247px;
    height: 45px;
    margin-top: 329px;
    margin-left: -311px;
    z-index: 7;
    background-color: #fff;
}

#regemail {
    float: left;
    position: relative;
    width: 247px;
    height: 45px;
    margin-top: 396px;
    margin-left: -310px;
    z-index: 5;
    background-color: #fff;
}

#createbutton {
    float: left;
    position: relative;
    width: 247px;
    height: 45px;
    margin-top: 474px;
    margin-left: -309px;
    z-index: 3;
    background-color: #4aa667;
}

#regfirst {
    float: left;
    position: relative;
    width: 247px;
    height: 45px;
    margin-top: 110px;
    margin-left: -309px;
    z-index: 13;
    background-color: #fff;
}

#regpasstxt2 {
    float: left;
    position: relative;
    width: 137px;
    margin-top: 345px;
    margin-left: -300px;
    z-index: 8;
    min-height: 25px;
}

#regpasstxt {
    float: left;
    position: relative;
    width: 128px;
    margin-top: 272px;
    margin-left: -300px;
    z-index: 10;
    min-height: 25px;
}

#create {
    float: left;
    position: relative;
    width: 217px;
    margin-top: 75px;
    margin-left: -295px;
    z-index: 25;
    min-height: 26px;
}

#reglasttxt {
    float: left;
    position: relative;
    width: 87px;
    margin-top: 199px;
    margin-left: -294px;
    z-index: 12;
    min-height: 25px;
}

#regemailtxt {
    float: left;
    position: relative;
    width: 143px;
    margin-top: 412px;
    margin-left: -293px;
    z-index: 6;
    min-height: 25px;
}

#regnametxt {
    float: left;
    position: relative;
    width: 88px;
    margin-top: 126px;
    margin-left: -292px;
    z-index: 14;
    min-height: 25px;
}

#createbuttontxt {
    float: left;
    position: relative;
    width: 119px;
    margin-top: 486px;
    margin-left: -235px;
    z-index: 4;
    min-height: 25px;
}

p {
    margin: 0;
    padding: 0;
    text-indent: 0;
    text-align: left;
    font: 14px/20px Open Sans;
    text-transform: none;
    text-decoration: none;
    color: #b3b3b3;
    letter-spacing: normal;
}

.text-style-1 {
    margin: 0;
    padding: 0;
    text-indent: 0;
    text-align: left;
    font: 16px/19px Open Sans;
    text-transform: none;
    text-decoration: none;
    color: #6e6e6e;
    letter-spacing: normal;
}

.text-style-2 {
    margin: 0;
    padding: 0;
    text-indent: 0;
    text-align: center;
    font: bold 24px/29px Open Sans;
    text-transform: uppercase;
    text-decoration: none;
    color: #2f2f2f;
    letter-spacing: normal;
}

.text-style-3 {
    margin: 0;
    padding: 0;
    text-indent: 0;
    text-align: center;
    font: italic 12px/14px Open Sans;
    text-transform: none;
    text-decoration: none;
    color: #215c73;
    letter-spacing: normal;
}

.text-style-4 {
    margin: 0;
    padding: 0;
    text-indent: 0;
    text-align: left;
    font: italic bold 14px/20px Open Sans;
    text-transform: none;
    text-decoration: none;
    color: #fff;
    letter-spacing: normal;
}

.text-style-5 {
    margin: 0;
    padding: 0;
    text-indent: 0;
    text-align: center;
    font: italic bold 14px/20px Open Sans;
    text-transform: none;
    text-decoration: none;
    color: #215c73;
    letter-spacing: normal;
}

.text-style-6 {
    margin: 0;
    padding: 0;
    text-indent: 0;
    text-align: left;
    font: italic bold 16px/19px Open Sans;
    text-transform: none;
    text-decoration: none;
    color: #6e6e6e;
    letter-spacing: normal;
}
