* {
    margin: 0;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
html,
body {
    /* height: 100%; */
}
body {
    position: relative;
    background: #3e6d7b !important;
}
@media (min-width: 768px) {
    .navbar-nav {
        margin-top: 12px !important;
    }
}
button.navbar-toggle {
    margin-top: 20px;
}
.navbar {
    background-color: #215c73 !important;
    font-family: Open Sans !important;
    color: #ffffff !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    width: 100% !important;
    height: 75px !important;
    /* position: fixed !important; */
    padding-left: 5px;
}
.navbar-right {
    display: block;
    align-content: center !important;
    padding-right: 50px !important;
    background-color: #215c73 !important;
}
.navbar a {
    background-color: #215c73 !important;
    font-family: Open Sans !important;
    color: #ffffff !important;
    font-size: 12px !important;
    font-weight: normal !important;
}
.dropdown li:hover {

}
.dropdown ul {
    background-color: #215c73 !important;
    font-family: Open Sans !important;
    color: #ffffff !important;
    font-size: 12px !important;
    font-weight: 700 !important;
}
#header-menu {
    list-style: none;
}
.notification-icon .badge {
    background-color: #e6c85c;
    color: #215c73;
    position: relative;
    top: -5px;
    left: -10px;
    border-radius: 10px !important;
}
#cart-icon {
    padding-right: 10px;
}
#item-counter {
    color: #e6c85c;
}
.sidebar-nav {
    /* position: fixed; */
    width: 200px;
    /* height: 100%; */
    list-style: none;
    font-family: Open Sans !important;
    color: #ffffff !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 50px;
    float: left;
    display: inline;
    padding: 20px 0;
}
.sidebar-category {
    font-family: Open Sans !important;
    color: #ffffff !important;
    font-size: 13.5px !important;
    font-weight: 700 !important;
    padding: 0;
}
.sidebar-nav ul {
    width: 100%;
}
.sidebar-item {
    font-family: Open Sans !important;
    color: #ffffff !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    list-style: none;
    position: relative;
    display: block;
    width: 100%;
}
.sidebar-item a {
    text-decoration: none !important;
    font-family: Open Sans !important;
    color: #ffffff !important;
    font-size: 12px !important;
    font-weight: normal !important;
    font-style: italic;
}
.nav-icon {
    display: inline-block !important;
    float: right !important;
    padding: 10px 0;
}
#footer-top {
    position: relative;
    padding: 25px;
    width: 100%;
    height: 150px;
    background-color: #2f2f2f;
}
#footer-top ul li {
    list-style: none;
    display: inline;
    width: 100%;
    border-style: none;
    font-family: Open Sans !important;
    color: #ffffff !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    border: none;
    background-color: #2f2f2f;
}
#footer-bottom {
    width: 100%;
    position: relative;
    text-align: center;
    list-style: none;
    background-color: #262626 !important;
    bottom: 0;
}
#Subscribe-message {
    font-family: Open Sans;
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
}
#cwrite {
    list-style: none;
    font-family: Open Sans;
    color: rgba(201, 201, 201, 0.3);
    font-size: 13.5px;
    font-weight: 400;
    padding-top: 10px;
}
#logo-bottom {
    list-style: none;
    padding-top: 50px;
    width: 100%;
}
.btn-subscribe {
    font-family: Open Sans!important;
    color: #ffffff!important;
    font-size: 13.5px!important;
    font-weight: 700!important;
    font-style: italic!important;
    background-color: #4aa667!important;
    border-color: #4aa667!important;
}
.btn-subscribe:hover,
.btn-subscribe:focus {
    background-color: #4aa667!important;
    border-color: #4aa667!important;
}
.sharp {
    border-radius: 0;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}
.btn-sample {
    font-family: Open Sans !important;
    font-size: 13.5px !important;
    font-weight: 700 !important;
    font-style: italic !important;
    color: #ffffff !important;
    background-color: #4AA667;
    border-color: #4AA667;
}
.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    color: #ffffff;
    background-color: #4aa667;
    border-color: #4AA667;
}
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    background-image: none;
}
.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
    background-color: #4AA667;
    border-color: #4AA667;
}
.btn-sample .badge {
    color: #4AA667;
    background-color: #ffffff;
}
span.icon-bar {
    color: #FFFFFF;
    background-color: white;
}
.navbar-header {
    height: 75px;
}
footer#footer-bottom {
    padding: 25px 0;
}
footer#footer-bottom ul {
    margin: 0;
    padding: 0;
}
footer#footer-bottom ul li {
    padding: 0;
    margin: 10px 0;
}
footer#footer-top {
    padding: 50px 0;
    height: auto;
}
footer#footer-top ul {
    padding: 0;
    margin: 0;
}
#main {
    margin-left: 200px;
    background: #e9e9e9;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding-top: 75px;
    display: block;
    min-height: 650px;
}
#main .main-wrapper .main-content {
    padding: 50px;
    max-width: 1280px;
    margin: auto;
}
#main .main-wrapper .main-content ul#products {
    display: inline-block;
    width: 100%;
    padding: 0;
    text-align: center;
}
#main .main-wrapper .main-content ul#products li.single-product {
    display: inline-block;
    margin: 15px 15px;
    list-style-type: none;
    text-align: center;
    padding-bottom: 0;
    cursor: pointer;
    width: 250px;
    border-radius: 2px !important;
    border: 1px solid #E0E0E0;
    overflow: hidden;
    border-bottom-width: 2px;
    position: relative;
    height: 275px;
    background: #fff;
}
#main .main-wrapper .main-content ul#products li .product-img {
    position: relative;
}
#main .main-wrapper .main-content ul#products li .product-img img {
    width: 100%;
}
#main .main-wrapper .main-content ul#products li .buttons {
    display: none;
    top: 0;
    height: 40px;
    line-height: 40px;
    /* position: absolute; */
    width: 100%;
}
#main .main-wrapper .main-content ul#products li .product-img .overlay {
    display: none;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
    top: 40px;
}
#main .main-wrapper .main-content ul#products li h3.product-heading {
    font-size: 16px;
    color: #565656;
    padding: 0;
    font-weight: normal;
    line-height: 150%;
    margin: 0;
}
#main .main-wrapper .main-content ul#products li .price {
    font-family: Open Sans, sans-serif;
    font-style: italic;
    font-size: 18px;
    padding: 0 25px;
    width: 100%;
    padding: 0;
    float: left;
}
#main .main-wrapper .main-content ul#products li .price .old-price {
    text-decoration: line-through;
    color: #6e6e6e;
    float: left;
    /* text-align: left; */
}
#main .main-wrapper .main-content ul#products li .price .discount {
    color: #4aa667;
    float: right;
    font-weight: bold;
    text-align: right;
}
#main .main-wrapper .main-content ul#products li:hover .buttons {
    display: block;
}
#main .main-wrapper .main-content ul#products li:hover .product-img img {
    visibility: hidden;
}
#main .main-wrapper .main-content ul#products li:hover .product-img .overlay {
    display: block;
}
/*button#sidebar-collapse {
  background: none;
  font-size: 24px;
  border: 2px solid #fff;
  width: 25px;
  height: 25px;
  padding: 0;
  margin-top: 35px;
  border-radius: 50px !important;
  line-height: 24px;
}*/

#sidebar-wrapper {
    overflow: hidden;
    float: left;
    padding: 100px 0 0;
    /* background: #3e6d7b; */
    width: 200px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.closed#sidebar-wrapper {
    width: 40px;
}

.closed#sidebar-wrapper ul.sidebar-nav ul {
    display: none;
}

button#sidebar-collapse,button#sidebar-open {
    font-size: 42px;
    margin: 0 auto;
    display: block;
    background: none;
    border: none;
    z-index: 9999;
    top: 48%;
    left: 185px;
    padding: 0;
    display: block;
    font-weight: 300;
}

.sidebar-closed#main {
    margin-left: 40px;
}

button#sidebar-open {
    left: 9px !important;
    color: #939393;
    font-size: 48px;
    font-weight: bold;
    line-height: initial;
    margin-top: 0;
}

button#sidebar-collapse {
    position: fixed;
    top: 90px;
    left: 182px;
    color: #FFFFFF;
    z-index: 0;
    font-size: 50px;
    width: 35px;
    height: 35px;
    background: url(../assets/img/arrow-hover.png) 50% 50% no-repeat;
    -webkit-background-size: 30px;
    background-size: 30px;
    z-index: 1000;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.main-wrapper {
    position: relative;
}

button#sidebar-open:focus {
    outline: none;
}

button#sidebar-collapse:focus {
    outline: none;
}

button#sidebar-open:hover {
    color: #fff;
}

button#sidebar-collapse:hover {
    background: url(../assets/img/arrow-hover.png) 50% 50% no-repeat;
    -webkit-background-size: 30px;
    background-size: 30px;
}

.closed#sidebar-wrapper .sidebar-nav {
    visibility: hidden;
}

#sidebar-wrapper .sidebar-nav {
    visibility: visible;
}

.sidebar-nav .sb-nav h4 {
    font-size: 16px;
    margin: 0;
    padding: 15px 20px;
    cursor: pointer;
    /* background: #37616E; */
}

.sidebar-nav .sb-nav {
    margin-bottom: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.sidebar-nav .sb-nav ul {
    line-height: 40px;
    margin: 0;
    background: #3A6674;
}

.sidebar-nav .sb-nav ul li a {
    display: block;
}

.navbar-right {
    float: right !important;
    margin-right: -15px !important;
}

.navbar-nav>li {
    float: left;
}

@media screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
    #nav-collapse ul.navbar-nav {
        margin-top: 17px !important;
        padding-right: 15px !important;
    }

    #nav-collapse ul.navbar-nav li a {
        padding-left: 10px !important;

        padding-right: 10px !important;
        font-size: 12px !important;
    }
    .navbar-header a.navbar-brand img {
        width: 135px;
    }
    .navbar-header a.navbar-brand {
        padding: 23px 15px !important;
    }
}

.navbar-header {
    float: left;
}

.navbar-header a.navbar-brand {
    display: block;
    float: none;
    height: 75px;
    padding: 18px 15px;
}

@media screen and (max-width: 500px) {
    #nav-collapse ul.navbar-nav {
        float: none !important;
        width: 100% !important;
        display: block !important;
        margin: 0 !important;
        padding-right: 0 !important;

        text-align: center;
    }
    #nav-collapse ul.navbar-nav li {
        float: none;
        display: inline-block;
    }
    .navbar-header {
        width: 100%;
        text-align: center;
        float: none;
        margin: 0 !important;
        height: auto;
        text-align: center;
    }
    .navbar-header a.navbar-brand {
        padding: 15px 0 !important;
        height: 100%;
    }
    .navbar-header img {
        display: inline-block !important;
        width: 176px !important;
    }
    header {

    }
    header .navbar-static-top {
        height: auto !important;
        padding: 10px 0;
    }
    #main {
        padding-top: 140px;
    }
    #sidebar-wrapper {
        padding: 150px 0 0;
    }
    button#sidebar-collapse {
        top: 145px;
        /* margin-left: -17px; */
    }
    #main .main-wrapper .main-content ul#products li {
        width: 200px;
    }
}

button.closed#sidebar-collapse {
    left: 3px;
    transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
    -webkit-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
    -moz-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
    -o-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
    -ms-transform: rotate(180deg) scale(1) skew(1deg) translate(0px);
}

header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);     box-shadow: 0px 0px 2px 0px rgba(0,0,0,.75);
}

.sidebar-nav .sb-nav h4:after {
    content: "+";
    float: right;
    font-size: 16px;
    background: #305661;
    color: #527E8B;
    width: 17px;
    text-align: center;
    border-radius: 5px;
}

.sb-nav.closed ul {
    height: 0;
    overflow: hidden;
}

.sb-nav.open ul {
    height: 100%;
    overflow: hidden;
}

#sidebar-wrapper .sidebar-nav .sb-nav h4:hover {
    /* background: #3B6875; */
}

.sidebar-nav .sb-nav h4:hover:after {
    background: #6D8E98;
    color: rgba(0, 0, 0, 0.46);
}

.sb-nav.open {
    margin-bottom: 10px;
}

#main .main-wrapper .main-content ul#products li .buttons .add {
    float: right;
    padding: 0 20px;
    background: #e6c85c;
    color: #215c73;
    font-style: italic;
    font-weight: bold;
    width: 100px;
    line-height: 40px;
    box-shadow: none;
}

#main .main-wrapper .main-content ul#products li:hover .buttons .wishlist {
    float: left;
    padding: 0 20px;
    font-weight: bold;
    font-style: italic;
    color: #215c73;
}

#main .main-wrapper .main-content ul#products li:hover .buttons .wishlist:hover {
}

#main .main-wrapper .main-content ul#products li:hover {
    border-color: #e6c85c !important;
}

#main .main-wrapper .main-content ul#products li h3.heading {
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0 15px;
    line-height: 125%;
}

#main .main-wrapper .main-content ul#products li:hover h3.product-heading {
    font-size: 18px;
//visibility: hidden;
}

#main .main-wrapper .main-content ul#products li:hover .product-description {
    margin: 10px 0 0;
    color: #6e6e6e;
    line-height: 150%;
    display: block;
}

#main .main-wrapper .main-content ul#products li .price span {
    padding: 0 10px;
    line-height: 30px;
    color: #6e6e6e;
}
li.single-product .stamp {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 55px solid #1a4a5c;
    border-right: 55px solid transparent;
    width: 55px;
    height: 55px;
}

li.single-product .stamp img {
    position: absolute;
    margin-top: -38px;
    margin-left: 7px;
}

li.single-product:hover .stamp {
    display: none;
}

#main .main-wrapper .main-content ul#products li.ribbon {
    /* border-color: #279BC8; */
}

#main .main-wrapper .main-content ul#products li .product-thumbnail {
    width: 100%;
    height: 180px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#main .main-wrapper .main-content ul#products li:hover .product-thumbnail {
//background-image: none !important;
    display: none;
}

.product-content {
    display: block;
    height: 60px;
    padding: 15px 15px 0;
}

#main .main-wrapper .main-content ul#products li:hover .product-content {
    height: 200px;
}

#main .main-wrapper .main-content ul#products li .product-description {
    display: none;
}

#main .main-wrapper .main-content ul#products li:hover h3.product-heading {
    padding: 0;
}

.modal {
    padding-top: 75px;
}

#main .main-wrapper .main-content ul#products li.single-product .price span.oi {
    font-size: 16px;
    float: left;
    line-height: 23px;
    padding: 7px 5px 0;
    /* width: 30%; */
    /* float: right; */
}

li.single-product .stamp span.oi {
    position: relative;
    color: #648d9d;
    margin-top: -60px;
    display: block;
    font-size: 18px;
    line-height: 48px;
    height: 48px;
    width: 33px;
    text-align: center;
}

#main .main-wrapper .main-content ul#products li .buttons .add #add-options {
    display: none;
}

#main .main-wrapper .main-content ul#products li .buttons .add:hover div#add-options {
    display: block;
    position: absolute;
    width: auto;
    right: 0;
    text-align: right;
    line-height: 40px;
    padding: 0;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

#main .main-wrapper .main-content ul#products li .buttons .add:hover a.notify {}

#main .main-wrapper .main-content ul#products li .buttons .add #add-options a {
    background: #e6c85c;
    display: block;
    padding: 0 20px;
    color: #215c73;
    font-style: initial;
}

#main .main-wrapper .main-content ul#products li .buttons .add:hover {
    background: #D8BC56;
}

#main .main-wrapper .main-content ul#products li .buttons .add #add-options a:hover {
    background: #F2D56E;
    text-decoration: none;
}

.sidebar-nav .sb-nav {
    /* margin-bottom: 10px; */
}

.sidebar-item a {
    padding: 0 25px 0 30px;
}

.sidebar-item:hover > a {
    background: #355E6B;
}

.sidebar-nav .sb-nav h4.collapsed {
    background: none;
}

.sidebar-item.has-sub-menu > a {}

.sidebar-item.has-sub-menu > a:before {}

.sidebar-item.has-sub-menu > a:after {
    font-family: 'Icons';
    speak: none;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    line-height: 40px;
    color: #EDD787;
    content: '\e02d';
}

.sidebar-item.has-sub-menu ul {
    padding: 0;
    list-style-type: none;
    background: #355E6B;
}

.sidebar-item.has-sub-menu > a.collapsed:hover {
    background: #355E6B;
}

.sidebar-item.has-sub-menu ul li a {
    padding-left: 40px;
}

.sidebar-item.has-sub-menu > a.collapsed:after {
    content: '\e02f';
}

.sidebar-item.has-sub-menu ul li:hover a {
    background: rgba(48, 85, 96, 1);
}

.sidebar-item.has-sub-menu > a {
    background: #355E6B;
}

.sidebar-item.has-sub-menu > a.collapsed {
    background: none;
}

#main .main-wrapper .main-content ul#products li:hover .buttons div.btn-group {
    float: right;
}

#main .main-wrapper .main-content ul#products li .buttons ul {
    position: absolute;
    right: 0;
    top: 40px;
    background: #e6c85c;
    width: 205px;
    text-align: right;
    padding: 0;
    display: none;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


#main .main-wrapper .main-content ul#products li .buttons ul li {
    display: block;
    width: auto;
}

#main .main-wrapper .main-content ul#products li .buttons ul li a {
    display: block;
    color: #215c73;
    padding: 0 20px;
}

#main .main-wrapper .main-content ul#products li:hover .buttons div.btn-group.open ul {
    display: block;
}

#main .main-wrapper .main-content ul#products li:hover .buttons div.btn-group.open button.add {
    background: #D8BC56;
}

#main .main-wrapper .main-content ul#products li .buttons ul li:hover a {
    background: rgba(233, 209, 122, 1);
}

input#product-search {
    font-family: inherit;
    height: 50px;
    width: 100%;
    font-weight: 300;
    /* border-radius: 2px !important; */
    padding: 0 50px;
    border: none;
    background: none;
    font-size: 18px;
}

header .navbar {
    margin: 0;
    border: none;
}

div#sidebar-wrapper .panel, div#sidebar-wrapper .panel-group,div#sidebar-wrapper .panel-heading {
    background: none !important;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    color: #fff;
    margin: 0;
}

div#sidebar-wrapper .panel .panel-collapse > .panel-body {
    border: none;
    font-size: 12px;
    background: rgba(58, 103, 116, 1);
    padding: 0;
}

div#sidebar-wrapper .panel-group .panel-group .panel-heading {
    padding: 0 20px 0 25px;
    line-height: 30px;
}

div#sidebar-wrapper .panel-group .panel-group .panel-heading > .panel-title span {
    line-height: 35px;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
}

div#sidebar-wrapper .panel-group .panel-group .panel-body a {
    display: block;
    line-height: 35px;
    color: #fff;
    font-style: italic;
    padding: 0 30px;
    font-weight: 300;
}

div#sidebar-wrapper .panel-group .panel-group .panel-body {
    background: rgba(55, 97, 110, 1);
    padding: 0;
}

div#sidebar-wrapper .panel-heading {
    padding: 10px 20px;
    line-height: 40px;
}

div#sidebar-wrapper .panel-group .panel-group .panel-body a:hover {
    background: rgba(52, 92, 104, 1);
    text-decoration: none;
}

div#sidebar-wrapper .panel-heading .glyphicon {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.25);
    font-weight: 300;
}

div#sidebar-wrapper .panel-group .panel-group .panel-heading .glyphicon {
    font-size: 12px;
    line-height: 35px;
    width: 16px;
    text-align: center;
    color: rgb(255, 233, 152);
    font-weight: 300;
}

i.pull-right.glyphicon.ng-scope.glyphicon-minus-sign {}

div#sidebar-wrapper .panel-group .panel-group .panel-heading .panel-title {
    /* padding: 10px 0; */
}

div#sidebar-wrapper .panel-group .panel-group .panel-heading > .panel-title span.oi {
    font-style: initial;
    float: right;
    color: #FFE68E;
    text-decoration: none !important;
    width: 16px;
    text-align: center;
}

div#sidebar-wrapper .panel-group .panel-group .panel-heading > .panel-title span:hover {
    text-decoration: underline;
}

.right-align {
    text-align: right;
}

#search-products {
    margin-bottom: 25px;
}

input#product-search:before {
    content: '\e08f';
    font-family: 'Icons';
    display: inline-block;
    speak: none;
    line-height: 1;
    vertical-align: baseline;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#search-products input {
    background-image: url(../assets/img/magnify.png);
    background-size: 30px;
    background-position: 0 50%;
    border-bottom: 2px solid transparent;
    background-repeat: no-repeat;
}

.product-wrapper.xl-gird-5.lg-grid-4.md-grid-3.sm-grid-1.ng-scope {}

.product-wrapper {
    float: left;
}

@media screen and (min-width: 1400px) {
    .xl-grid-4 {
        width: 25%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    .lg-grid-3 {
        width: 33.33%;
    }
    #main .main-wrapper .main-content {
        padding: 50px 3%;
    }
    #main .main-wrapper .main-content ul#products li.single-product {
        width: 240px;
    }
    #main .main-wrapper .main-content {
        max-width: 1024px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .md-grid-2 {
        width: 50%;
    }
    #main .main-wrapper .main-content {
        padding: 50px 3%;
    }
    #main .main-wrapper .main-content {
        max-width: 768px;
    }
    #main .main-wrapper .main-content ul#products li.single-product {
        width: 240px;
    }
}

@media screen and (max-width: 768px) {
    .sm-grid-1 {
        width: 100%;
    }
    #main .main-wrapper .main-content {
        padding: 50px 10px;
    }
}

#search-products input:focus {
    outline: none;
    border-bottom: 2px solid #5E8897;
}

.closed#sidebar-wrapper .sb-nav {
    display: none;
}

.search-options {
    font-weight: 500;
    color: #215C73;
    font-size: 16px;
}

#main .main-wrapper .main-content ul#products li .share {
    display: none;
}

#main .main-wrapper .main-content ul#products li.single-product:hover .share {
    display: block;
    margin-top: 10px;
}

#main .main-wrapper .main-content ul#products li .share .facebook {
    width: 32px;
    height: 32px;
    background: url(../assets/img/facebook.png) 50% 50% no-repeat;
    display: inline-block;
    background-size: 32px;
    margin: 0 5px;
}

#main .main-wrapper .main-content ul#products li .share .twitter {
    width: 32px;
    height: 32px;
    background: url(../assets/img/twitter.png) 50% 50% no-repeat;
    display: inline-block;
    background-size: 32px;
}