@import url(http://fonts.googleapis.com/css?family=Open+Sans);

button#modal-btn{
  border-radius: 0;
  background: #ffffff;
  box-shadow: none;
  border:none;
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  font-family: Open Sans;
  text-shadow: none;
  text-align: center;
  width:100%;
}
#product-desc-long{
  color: #8f8f8f;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
  text-align: center;
  display:none;
}
button#modal-btn:hover {
  border:solid;
  border-color: #e6c85c;
}
button#modal-btn:hover ul li#product-desc-long{
  display:inline-block;

}
button#modal-btn:hover ul li#hidden-btn{
  display:inline-block;
}
#hidden-btn{
  padding-left: 0px;

  display:none;
}
button#modal-btn:hover #hidden-btn{
  display:inline-block;
  list-style: none;
}
button#modal-btn:hover #hidden-wishlist{
  color: #215c73;
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
  line-height: 18px;
  list-style: none;
  float:left;
}
button#modal-btn:hover #hidden-add{
  color: #215c73;
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
  line-height: 18px;
  list-style: none;
  float:right;
}
#product-desc-long p{
  word-break: keep-all;
  white-space: normal;
}
button#modal-btn:hover ul li#product-img img{
  display:none;
}
#product-info{
  display:inline-block;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
#product-img img{
  width: 100%;
}
#product-name {
  color: #6e6e6e;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  word-wrap: normal;
  text-align: center;
}
#product-prices p{
  display:inline-block;
  padding-right: 10px;
  padding-left: 10px;
}
#price-previous{
  color: #6e6e6e;
  text-decoration: line-through;
  float:left;
}
#price-current{
  color: #4aa667;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  float: right;
}
.rating span {
  font-size: 25px;
  cursor: pointer;
  border-color: gold;
  background-color: white;
  float: right; //remove 'float right' for right to left
}
.rating span:hover, .rating span:hover ~ span{
  color: gold; //gold or any other color
}
.rating span.active, .rating span.active ~ span {
  color: gold; //gold or any other color
}
#modalClose{
  font-size: 30px;
  float: right;
}
#modalProductImage img{
  width: 100%;
}
#corp{
  color: #215c73;
  font-size: 13.5px;
  font-weight: 400;
}
#voteCounts{
  color: #2f2f2f;
  font-size: 10px;
  line-height: 30px;
  font-weight: 700;
  font-style: italic;
  text-align: right;
  display: inline;
}
#modalProductDescription{
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 400;
}
#value{
  color: #6e6e6e;
  font-weight: bold;
  font-size: 14px;
  font-weight: 700;
}
#valueNumber{
  font-weight: normal;
  font-size: 18px;
}
#youSave{
  color: #6e6e6e;
  font-weight: bold;
  font-size: 14px;
  font-weight: 700;
}
#youSaveNumber{
  font-weight: normal;
  font-size: 18px;
}
#yourPrice{
  color: #4aa667;
  font-weight: bold;
  font-size: 14px;
  font-weight: 700;
}
#yourPriceNumber{
  font-weight: normal;
  font-size: 18px;
}
#iWant{
  line-height:40px;
  color: #215c73;
  font-size: 18px;
  font-style: italic;
  text-align: right;
  display: inline;
}
button#wishlist-btn {
  border-radius: 0;
  background: none;
  box-shadow: none;
  border: none;
  background: #e6c85c;
  text-shadow: none;
  line-height: 35px;
  color: #215c73;
}
.cart-amnt{
  border-radius: 0;
  background: none;
  box-shadow: none;
  border: none;
  background: #e0e0e0;
  text-shadow: none;
  line-height: 47px;
}
button#cart-btn{
  border-radius: 0;
  background: none;
  box-shadow: none;
  border: none;
  background: #386d81;
  text-shadow: none;
  line-height: 35px;
  color: #e6c85c;
}
