* { 
	padding: 0; 
	margin: 0; 
}
body{
	background-color: #e9e9e9;
}
header {
	/*Font information*/
	font-family: OpenSans;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	background-color: #215C73;
	width: 100%;
	height: 77px;
	padding: 0px;
	top:0;
	left:0;
	position:fixed;
	z-index:3;
}
#logo{
	position:absolute;
	top: 20px;
	left: 30px;
	display: inline;
}
header nav{
	display: inline;
	position: absolute;
	right:20px;
	top: 25px;
}
header nav ul{
	text-align: justify;
	line-height: 0;
	padding: 0;	
	list-style-type:none;
}
header nav ul li{
	display: inline-block;
	line-height:100%;
	margin: 0 20px 20px 0;
}
#cartStatus{
	display:inline-block;
	color: #e6c85c;
}
#sidebar{
	font-family: OpenSans;
	color: #ffffff;
	font-size: 13.5px;
	font-weight: 700;
	
	display:inline-block;
	
	position:absolute;
	width:220px;
	top: 77px;
	height: 1200px;
	background-color: #1A6675;
	
	padding-left: 40px;
	padding-top:85px;
	
	float:left;
	z-index:1;
}
#sidebar ul li{
	margin-top: 40px;
	margin-left:	 20px;
	list-style-type:none;
}
#sidebar ul li:after{
	content:url(../Img/menuarrow.png);
	float: right;
	margin-right: 30px;
}
.sidebarTitle{
	margin-top: 40px;
}
#search{
	display:inline-block;
	position:fixed;
	
	font-family: OpenSans;
	color: #6e6e6e;
	font-size: 18px;
	font-style: italic;
	
	left: 285px;
	top:125px;
}
#searchText{
	display:inline-block;
	margin-left:20px;	
}
footer{
	font-family: OpenSans;
	color: #ffffff;
	font-size: 21px;
	font-weight: 400;
	position: absolute;
	width: 100%;
	height: 250px;
	top: 1250px;
	z-index: 2;
	display: block;
}
#footerTop{
	border: none;
	background-color: #2f2f2f;
	font-family: OpenSans;
	color: #ffffff;
	font-size: 21px;
	font-weight: 400;
	height: 250px;
	padding-top: 75px;
	line-height: 38px;
	text-align: center;
	
}
#subscribe{
	padding-top: 35px;
	margin-left: auto;
	margin-right:auto;
	display:block;	
}
#subButton{
	/*This controls the appearance of the subscribe button*/
	width: 106px;
	height: 45px;
	background-color: #4aa667;
	text-align:center;
	font-family: OpenSans;
	color: #ffffff;
	font-size: 13.5px;
	font-weight: 700;
	font-style: italic;
}
#subInfor{
	/*This controls the appearance of the subscription input box*/
	width: 304px;
	height: 45px;
	background-color: #ffffff;
	font-family: OpenSans;
	color: #b3b3b3;
	font-size: 13.5px;
	font-style: italic;
	padding-left: 20px;
}
#footerBottom{
	background-color: #262626;
	height: 270px;
	display:block;
}
#footerLogo{
	padding-top:90px;
	margin-left: auto;
	margin-right:auto;
	display:block;	
}
#footerCopy{
	padding-top: 25px;
	margin-left: auto;
	margin-right:auto;
	display:block;	
}

