@import url("bootstrap.min.css");
@import url("bootstrap-theme.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");

*{
	margin: 0;
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
	.border-radius(0) !important;	
}
html, body{
	height: 100%;	
}
body{
	padding-bottom:	500px;
}
@media (min-width: 768px) {
	.navbar-nav {
		float: left;
		margin: 0;
		margin-top: 20px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	}
}

.navbar{
	background-color:#215c73 !important;
	font-family: Open Sans !important;
	color: #ffffff !important;
	font-size: 12px !important;
	font-weight: 700 !important;
	width:100% !important;
	height: 75px !important;
	position: fixed !important;
	padding-left:5px;
}
.navbar-right{
	display:block;
	align-content:center !important;
	padding-right: 50px !important;
	background-color:#215c73 !important;
}
.navbar a:hover {
	background-color:#215c73 !important;
	font-family: Open Sans !important;
	color: #ffffff !important;
	font-size: 12px !important;
	font-weight: 700 !important;	
}
.navbar a {
	background-color:#215c73 !important;
	font-family: Open Sans !important;
	color: #ffffff !important;
	font-size: 12px !important;
	font-weight: 700 !important;	
}
.dropdown li:hover {
	background-color:#215c73 !important;
	font-family: Open Sans !important;
	color: #ffffff !important;
	font-size: 12px !important;
	font-weight: 700 !important;	
}
.dropdown ul {
	background-color:#215c73 !important;
	font-family: Open Sans !important;
	color: #ffffff !important;
	font-size: 12px !important;
	font-weight: 700 !important;	
}
#header-menu{
	list-style:none;	
}
.notification-icon .badge {
   background-color: #e6c85c;
   color:#215c73;
   position:relative;
   top: -5px;
   left: -10px;
   border-radius: 10px !important;
}
#cart-icon{
	padding-right: 10px;	
}
#item-counter{
	color: #e6c85c;
}
.sidebar-nav{
	top: 50px !important;
	position: fixed;
	width: 200px;
	height: 1182px;
	list-style:none;
	background-color:#1A6675;
	
	font-family: Open Sans !important;
	color: #ffffff !important;
	font-size: 12px !important;
	font-weight: 700 !important;
	
	line-height: 50px;
	
	float: left;
	
	display: inline;
}
.sidebar-category{
	position: relative;
	top: 50px;
	left: -50px;
	
	font-family: Open Sans !important;
	color: #ffffff !important;
	font-size: 13.5px !important;
	font-weight: 700 !important;
}
.sidebar-nav ul{
	width: 100%;	
}
.sidebar-item{
	font-family: Open Sans !important;
	color: #ffffff !important;
	font-size: 12px !important;
	font-weight: 700 !important;
	
	list-style:none;
	
	position: relative;
	
	left: 20px;
	display: inline-block;
	width: 100%;
}
.sidebar-item a{
	text-decoration: none !important;
	font-family: Open Sans !important;
	color: #ffffff !important;
	font-size: 12px !important;
	font-weight: 700 !important;
	font-style: italic;
}
.nav-icon{
	display:inline-block !important;
	float: right !important;
	padding-top: 15px;
}
#footer-top{
	position:absolute;
	bottom:150px;
	left:0;
	padding:25px;
	width: 100%;
	height: 150px;
	background-color: #2f2f2f;
}
#footer-top ul li{
	list-style:none;	
	display: inline;
	width: 100%;
	border-style: none;
	font-family: Open Sans !important;
	color: #ffffff !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	border: none;
	background-color: #2f2f2f;
}
#footer-bottom{
	width:100%;
	position:absolute;
	text-align:center;
	height:150px;	
	bottom:0;	
	left:0;
	list-style:none;
	display:inline-block;
	background-color: #262626 !important;
}
#Subscribe-message{
	font-family: Open Sans;
	color: #ffffff;
	font-size: 21px;
	font-weight: 400;
}
#cwrite{
	list-style:none;
	font-family: Open Sans;
	color: rgba(201, 201, 201, 0.3);
	font-size: 13.5px;
	font-weight: 400;
	padding-top: 10px;
}
#logo-bottom{
	list-style:none;
	padding-top:50px;
	width:100%;
}
.btn-subscribe{
	font-family: Open Sans!important;
	color: #ffffff!important;
	font-size: 13.5px!important;
	font-weight: 700!important;
	font-style: italic!important;
	background-color: #4aa667!important;
	border-color:#4aa667!important;
}
.btn-subscribe:hover, .btn-subscribe:focus{
	background-color: #4aa667!important;
	border-color:#4aa667!important;
}
.sharp {
  border-radius:0;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.btn-sample { 
  font-family: Open Sans !important;
  color: #ffffff !important;
  font-size: 13.5px !important;
  font-weight: 700 !important;
  font-style: italic !important;
  color: #ffffff !important; 
  background-color: #4AA667; 
  border-color: #4AA667; 
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #ffffff; 
  background-color: #4aa667; 
  border-color: #4AA667; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #4AA667; 
  border-color: #4AA667; 
} 
 
.btn-sample .badge { 
  color: #4AA667; 
  background-color: #ffffff; 
}
span.icon-bar{
	color:#FFFFFF;
	background-color: white;	
}