<div id="footer">
    <footer id="footer-top">
        <div class="container-fluid" id="footer-container">
            <ul class="text-center">
                <li id="Subscribe-message"> Subscribe Free and Never Miss a Deal!</li>
                <li>
                    <form class="navbar-form" id="email-submit" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Email Address...">
                        </div>
                        <button type="submit" class="btn btn-sample sharp">Subscribe</button>
                    </form>
                    <!-- email-submit -->
                </li>
            </ul>
            <!-- /text-container -->
        </div>
        <!-- /footer-container -->
    </footer>

    <footer id="footer-bottom">
        <ul>
            <li id="logo-bottom"><img src="assets/img/logo_footer.png" width="176" height="39" alt=""/></li>
            <li id="cwrite"> © Copyright 2015 City Weekly Online</li>
        </ul>
    </footer>
</div>