<header>
    <div class="navbar navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="assets/img/logo.png" class="img-responsive">
                </a>
            </div>

            <div id="nav-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <div class="notification-icon"><img src="../assets/img/Notification Bell.png">
                                <span class="badge"> 6 </span>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown cart-dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="assets/img/Cart.png" id="cart-icon">
                        <span class="hide-on-mobile">CART</span>
                        <span id="item-counter">({{cart}})</span><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another Action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul><!-- /dropdown-menu -->
                    </li><!-- /dropdown -->
                    <li class="dropdown account-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="hide-on-mobile">GOOD MORNING,</span> QWERTY<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul><!-- /dropdown-menu -->
                    </li><!-- /dropdown -->
                </ul><!-- /navbar -->
            </div><!-- /nav-collapse -->
        </div><!-- /container -->
    </div> <!-- /navbar -->
</header>