<div id="ModalController">
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="modalClose" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="productModalLabel"> The Cuban Cigar Store </h4>
                </div>
                <!-- /modal-header -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12" id="modalProductImage">
                            <img src="assets/img/ProductImage.png">
                        </div>
                        <div class="col-md-6 col-sm-12" id="modalProductDescription">
                            <br>

                            <div class=row>
                                <div class="col-md-3 col-sm-3" id="corp">
                                    <a href="#">Partaga, Inc.</a>
                                </div>
                                <div class="col-md-5 col-sm-5">
                                    <a href="#">
                                        <div class="rating">
                                            <span id="5" class="glyphicon glyphicon-star"></span>
                                            <span id="4" class="glyphicon glyphicon-star"></span>
                                            <span id="3" class="glyphicon glyphicon-star"></span>
                                            <span id="2" class="glyphicon glyphicon-star"></span>
                                            <span id="1" class="glyphicon glyphicon-star"></span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 col-sm-4" id="voteCounts">
                                    3.5 out of 920 votes
                                </div>
                            </div>
                            <br>

                            <div class="row" id="productDescriptionText">
                                <div class="col-md-12">
                                    Donec placerat. Nullam nibh dolor, blandit sed, fermentum id, imperdiet sit amet, neque.
                                    Nam mollis ultrices justo. Sed tempor. Sed vitae tellus. Etiam sem arcu, eleifend sit
                                    amet, gravida eget, porta at, wisi. Nam non lacus vitae ipsum viverra pretium. Phasellus
                                    massa. Fusce magna sem, gravida in, feugiat ac, molestie eget, wisi. Fusce consectetuer
                                    luctus ipsum. Vestibulum nunc. Suspendisse dignissim adipiscing libero. Integer leo. Sed
                                    pharetra ligula a dui. Quisque ipsum nibh, ullamcorper eget, pulvinar sed, posuere
                                    vitae, nulla. Sed varius nibh ut lacus. Curabitur fringilla. Nunc est ipsum, pretium
                                    quis, dapibus sed, varius non, lectus. Proin a quam. Praesent lacinia, eros quis aliquam
                                    porttitor, urna lacus volutpat urna, ut fermentum neque mi egestas dolor.
                                </div>
                            </div>
                            <br>

                            <div class="row" id="productSavings">
                                <div class="col-md-4 col-sm-4" id="value">
                                    Value
                                    <div class="row">
                                        <div class="col-md-4" id="valueNumber">
                                            $160
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4" id="youSave">
                                    You Save
                                    <div class="row">
                                        <div class="col-md-4" id="youSaveNumber">
                                            20%
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4" id="yourPrice">
                                    Your Price
                                    <div class="row">
                                        <div class="col-md-4" id="yourPriceNumber">
                                            $80
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <!-- /row id="productSavings"-->
                            <br>

                            <div class="row" id="productModalCartButtons">
                                <div class="col-md-4 col-sm-4">
                                    <button type="button" class="btn btn-default" id="wishlist-btn">
                                        + wishlist
                                    </button>
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <div class="row" id="productModalAddToCart">
                                        <div class="col-md-4 col-sm-4" id="iWant">
                                            I want
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="btn-group" role="group" aria-label="...">
                                                <div class="btn-group cart-amnt" role="group">
                                                    <select class="cart-amnt">
                                                        <option value="1" selected>1</option>
                                                        <option value="2">2</option>
                                                        <option value="2">3</option>
                                                        <option value="2">4</option>
                                                        <option value="2">5</option>
                                                        <option value="2">6</option>
                                                        <option value="2">7</option>
                                                        <option value="2">8</option>
                                                        <option value="2">9</option>
                                                        <option value="2">10</option>
                                                    </select>
                                                </div>
                                                <button type="button" class="btn btn-default" id="cart-btn">Add to Cart
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row id="productModalAddToCart"-->
                                </div>
                            </div>
                            <!-- /row id="productModalCartButtons"-->
                        </div>
                        <!-- /modalProductDescription -->
                    </div>
                    <!-- /row -->
                    <br>

                    <div class="row" role="tabpanel">
                        <ul class="nav nav-tabs nav-justified" role="tablist" id="myTab">
                            <li role="presentation">
                                <a href="#fullDetails" aria-controls="fullDetails" role="tab" data-toggle:"tab">Full Details</a>
                            </li>
                            <li role="presentation">
                                <a href="#map" aria-controls="map" role="tab" data-toggle:"tab">Map</a>
                            </li>
                            <li role="presentation">
                                <a href="#terms-conditions" aria-controls="terms-conditions" role="tab" data-toggle:"tab">Terms & Conditions</a>
                            </li>
                        </ul> <!-- /nav-tabs -->
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane  panel-body fade" id="fullDetails">
                                fullDETAILS -- Donec placerat. Nullam nibh dolor, blandit sed, fermentum id, imperdiet sit amet, neque. Nam mollis ultrices justo. Sed tempor. Sed vitae tellus. Etiam sem arcu, eleifend sit amet, gravida eget, porta at, wisi. Nam non lacus vitae ipsum viverra pretium. Phasellus massa. Fusce magna sem, gravida in, feugiat ac, molestie eget, wisi. Fusce consectetuer luctus ipsum. Vestibulum nunc. Suspendisse dignissim adipiscing libero. Integer leo. Sed pharetra ligula a dui. Quisque ipsum nibh, ullamcorper eget, pulvinar sed, posuere vitae, nulla. Sed varius nibh ut lacus. Curabitur fringilla. Nunc est ipsum, pretium quis, dapibus sed, varius non, lectus. Proin a quam. Praesent lacinia, eros quis aliquam porttitor, urna lacus volutpat urna, ut fermentum neque mi egestas dolor.
                            </div>
                            <div role="tabpanel" class="tab-pane  panel-body fade" id="map">
                                MAP -- Donec placerat. Nullam nibh dolor, blandit sed, fermentum id, imperdiet sit amet, neque. Nam mollis ultrices justo. Sed tempor. Sed vitae tellus. Etiam sem arcu, eleifend sit amet, gravida eget, porta at, wisi. Nam non lacus vitae ipsum viverra pretium. Phasellus massa. Fusce magna sem, gravida in, feugiat ac, molestie eget, wisi. Fusce consectetuer luctus ipsum. Vestibulum nunc. Suspendisse dignissim adipiscing libero. Integer leo. Sed pharetra ligula a dui. Quisque ipsum nibh, ullamcorper eget, pulvinar sed, posuere vitae, nulla. Sed varius nibh ut lacus. Curabitur fringilla. Nunc est ipsum, pretium quis, dapibus sed, varius non, lectus. Proin a quam. Praesent lacinia, eros quis aliquam porttitor, urna lacus volutpat urna, ut fermentum neque mi egestas dolor.This clearly isn't a map
                            </div>
                            <div role="tabpanel" class="tab-pane panel-body fade" id="terms-conditions">
                                terms-CONDITIONS -- Donec placerat. Nullam nibh dolor, blandit sed, fermentum id, imperdiet sit amet, neque. Nam mollis ultrices justo. Sed tempor. Sed vitae tellus. Etiam sem arcu, eleifend sit amet, gravida eget, porta at, wisi. Nam non lacus vitae ipsum viverra pretium. Phasellus massa. Fusce magna sem, gravida in, feugiat ac, molestie eget, wisi. Fusce consectetuer luctus ipsum. Vestibulum nunc. Suspendisse dignissim adipiscing libero. Integer leo. Sed pharetra ligula a dui. Quisque ipsum nibh, ullamcorper eget, pulvinar sed, posuere vitae, nulla. Sed varius nibh ut lacus. Curabitur fringilla. Nunc est ipsum, pretium quis, dapibus sed, varius non, lectus. Proin a quam. Praesent lacinia, eros quis aliquam porttitor, urna lacus volutpat urna, ut fermentum neque mi egestas dolor.
                            </div>
                        </div>
                    </div> <!-- /row -->
                    <!-- /row -->
                    <div class="row bottomContent">

                    </div>
                    <!-- /bottomContent -->
                </div>
                <!-- /modal-body -->
            </div>
            <!-- /modal-content -->
        </div>
        <!-- /modal-dailog -->
    </div>
    <!-- /modal -->
</div>