<div resize id="sidebar-wrapper" class="{{sidebarStatus}}">
    <button id="sidebar-collapse" resize ng-click="toggleSidebar()" class="{{sidebarStatus}}"></button>
    <div class="sidebar-nav">
        <div class="sb-nav" ng-repeat="nav in navs">
            <h4 class="heading" data-toggle="collapse" href="#{{nav.id}}" aria-expanded="true">{{nav.title}}</h4>
            <ul class="sidebar-category collapse in" id="{{nav.id}}">
                <li ng-repeat="item in nav.subItems" class="sidebar-item has-sub-menu">
                    <a class="collapsed" data-toggle="collapse" href="#{{item.id}}">{{item.title}}</a>
                    <ul id="{{item.id}}" class="sub-menu collapse">
                        <li ng-repeat="item in item.subItems">
                            <a href="{{item.link}}">{{item.title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>